@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Lato';
	src:url('../../assets/fonts/lato/Lato-Regular.eot');
	src:url('../../assets/fonts/lato/Lato-Regular.woff') format('woff'),
			url('../../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'SourceCodePro-Regular';
	src:url('../../assets/fonts/sourcecodepro/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'SourceCodePro-SemiBold';
	src:url('../../assets/fonts/sourcecodepro/SourceCodePro-Semibold.ttf') format('truetype');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'SourceCodePro-Bold';
	src:url('../../assets/fonts/sourcecodepro/SourceCodePro-Bold.ttf') format('truetype');
}

*, *:after, *:before
{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after
{
	content: '';
	display: table;
}

.clearfix:after
{
	clear: both;
}

html{
	display: table;
	margin: auto;
}

html,body {
	background: #FDFDF8;
	color: #333333;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
	height: 100%;
}

body{
	display: table-cell;
	vertical-align: middle;
}

a {
	color: #4C76BE;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #c94e50;
	outline: none;
	font-weight: 600;
}

button:focus {
	outline: none;
}

section {
	padding: 1em;
	text-align: center;
}

/* Header */
.content-header {
	position: relative;
	width: 100%;
	padding: 1em 1em;
	margin-top: 2em;
	text-align: center;
}

.content-header h1 {
	margin: 0 auto;
	font-weight: 800;
	font-size: 3.75em;
	line-height: 1;
	color: #333333;
}

.content-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
}

.content-header h2 {
	margin: 0 auto;
	font-weight: 400;
	font-size: 2.5em;
	line-height: 1;
	color: #333333;
	text-align: center;
}

.content-header h2 span {
	display: block;
	font-size: 50%;
	font-weight: 200;
	padding-top: 0.3em;
}

.content{
	vertical-align: middle;
	margin: 1em auto;
	width: 65%;
	font-family: 'SourceCodePro-Regular';
	font-size: 13px;
	font-weight: 400;
	color: #333333;
}

.content h3 {
	margin: 0 auto;
	font-weight: 800;
	font-size: 1em;
	line-height: 1;
	color: #0076FF;
}

.content p {
	margin: 2em auto;
	text-align: justify;
}

.content b {
	font-family: 'SourceCodePro-SemiBold';
	color: #c94e50;
}

.content pre {
	font-family: 'SourceCodePro-Regular';
	font-size: 13px;
	font-weight: 400;
	color: #333333;
	overflow: auto;
	margin: 3em auto;
	scroll-behavior: smooth;
	vertical-align: middle;
	max-width: 640px;
}

.content bud{
	font-family: 'SourceCodePro-Bold';
	font-size: 13px;
	font-weight: 400;
	color: #1ED865;
}

.content ul{
	text-align: justify;
	width: 80%;
	margin: 1em auto;
}

.content li{
	text-align: justify;
	margin: 1em auto;
}

.content pre ul {
	line-height: 0.5em;
}

.content pre a {
	color: #4C76BE;
	text-decoration: none;
	outline: auto;
}
.content pre b {
	font-family: 'SourceCodePro-SemiBold';
	color: #D49733;
}

.content-links {
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
	padding: 1.61em 5em;
}

.content-header img {
	border-radius: 2%;
}

.content img {
	position: relative;
	width: auto;
	height: auto;
	max-width: 80%;
	max-height: 400px;
	padding: 1em 1em ;
	margin: 1em auto;
	vertical-align: middle;
}

.content figure{
	font-family: 'SourceCodePro-Regular';
	font-size: 13px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: 2em auto;
}

.content figcaption{
	margin: 2em auto;
}
