/*GRID CAPTIONS IN PAGE*/
.grid {
	padding: 10px 10px 10px 10px;
	min-width: 20%;
	max-width: 80%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	min-width: 180px;
	max-width: 180px;
	min-height: 180px;
	margin: 10px 5px 10px 5px;
	padding: 20px 10px 20px 10px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid a {
	text-align: center;
	color: #fff;
}

.grid img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	width: 100%;
	position: absolute;
	padding: 2px;
	background: #2c3f52;
	color: #ffffff;
	text-align: center;
}



@media screen and (width: 800px) {
	.grid {
		padding: 10px 10px 10px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 200px;
	}
}
/*GRID CAPTIONS IN PAGE*/
